<div class="container">
    <div style="display: flex;align-items: center;margin-right: 50px;">
      <button mat-raised-button color="accent">Geri Dön</button>
    </div>
      <div class="content-wrapper">
          <div class="title-container">
             İstediğiniz soruya cevap verebilirsiniz
          </div>
        <mat-card class="question-card" >
          <mat-card-content>
              <div class="solution-container">
                  <div class="arrows-container">
                      <button mat-icon-button><mat-icon>expand_less</mat-icon></button>
                        <span class="increasedecrease">2</span>
                      <button mat-icon-button><mat-icon>expand_more</mat-icon></button>
                  </div>
                  <div class="data-container">
                      <p class="username">Can Boz</p>
                      <p>
                        Angular kolay mı
                      </p>
                  </div>
              </div>
  
          </mat-card-content>
        </mat-card>
  
        <mat-form-field appearance="fill">
          <textarea [(ngModel)]="solutionText" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Cevabınızı Girin..."></textarea>
        </mat-form-field>
        <div class="new-post-actions-container">
          <button [disabled]="solutionText.trim() == '' " mat-raised-button class="post-button">Kaydet</button>
        </div>
      </div>
    </div>
  
  